.App {
  text-align: center;
}

.main {
  display: block;
}

.countdown {
  display: inline-block;
}

.div {
  display: block;
}

.inputsec {  
  width: 100px;
  display: inline-block;
}

#numberOfSec {
  display: inline-block;
  margin-right: 7px;
}

button {
  display: inline-block;
  size: large;
}

#countdown {
  color: red;
}